## Loading data into Pandas

In [6]:
import pandas as pd


#data = {'Name': ['Alice', 'Bob', 'Charlie'],
#        'Age': [25, 30, 20],
#        'Score': [85, 70, 90]}


#df = pd.DataFrame(data)





df = pd.read_csv('pokemon_data.csv')
print(df['HP'])


print(df.head())
#print(df.values)

0       45
1       60
2       80
3       80
4       39
      ...
976     92
977     92
978     92
979    140
980    255
Name: HP, Length: 981, dtype: int64
   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4             Charmander   Fire     NaN    309  39      52       43

   Sp. Atk  Sp. Def  Speed  Generation  Mithical  Legendary
0       65       65     45           1     False      False
1       80       80     60           1     False      False
2      100      100     80           1     False      False
3      122      120     80           1     False      False
4       60       50     65           1     False      False

## Reading Data in Pandas

In [7]:


## Read each Column
#print(df[['Name', 'Type 1', 'HP']])

#prints 0 to 4th row
#print(df.iloc[0:4])


## Read a specific location (R,C), selects value at 3rd row,2nd column 
#print(df.iloc[2,1])

   #                   Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1              Bulbasaur  Grass  Poison    318  45      49       49
1  2                Ivysaur  Grass  Poison    405  60      62       63
2  3               Venusaur  Grass  Poison    525  80      82       83
3  3  VenusaurMega Venusaur  Grass  Poison    625  80     100      123

   Sp. Atk  Sp. Def  Speed  Generation  Mithical  Legendary
0       65       65     45           1     False      False
1       80       80     60           1     False      False
2      100      100     80           1     False      False
3      122      120     80           1     False      False

In [42]:
fire_pokemon = df.loc[df['Type 1'] == 'Fire']
print(fire_pokemon)
squirtle = df.loc[df['Name'] == 'Squirtle'].values
print(squirtle)

       #                       Name Type 1  Type 2  Total   HP  Attack  \
4      4                 Charmander   Fire     NaN    309   39      52
5      5                 Charmeleon   Fire     NaN    405   58      64
6      6                  Charizard   Fire  Flying    534   78      84
7      6  CharizardMega Charizard X   Fire  Dragon    634   78     130
8      6  CharizardMega Charizard Y   Fire  Flying    634   78     104
..   ...                        ...    ...     ...    ...  ...     ...
896  813                  Scorbunny   Fire     NaN    310   50      71
897  814                     Raboot   Fire     NaN    420   65      86
898  815                  Cinderace   Fire     NaN    530   80     116
934  850                Sizzilipede   Fire     Bug    305   50      65
935  851                Centiskorch   Fire     Bug    525  100     115

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Mithical  Legendary
4         43       60       50     65           1     False      False
5         58       80       65     80           1     False      False
6         78      109       85    100           1     False      False
7        111      130       85    100           1     False      False
8         78      159      115    100           1     False      False
..       ...      ...      ...    ...         ...       ...        ...
896       40       40       40     69           8     False      False
897       60       55       60     94           8     False      False
898       75       65       75    119           8     False      False
934       45       50       50     45           8     False      False
935       65       90       90     65           8     False      False

[63 rows x 14 columns]
[[7 'Squirtle' 'Water' nan 314 44 48 65 50 64 43 1 False False]]

## Sorting/Describing Data

In [43]:
df.sort_values(['Type 1','HP'])
#df.describe()
#df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 981 entries, 0 to 980
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           981 non-null    int64
 1   Name        981 non-null    object
 2   Type 1      981 non-null    object
 3   Type 2      512 non-null    object
 4   Total       981 non-null    int64
 5   HP          981 non-null    int64
 6   Attack      981 non-null    int64
 7   Defense     981 non-null    int64
 8   Sp. Atk     981 non-null    int64
 9   Sp. Def     981 non-null    int64
 10  Speed       981 non-null    int64
 11  Generation  981 non-null    int64
 12  Mithical    981 non-null    bool
 13  Legendary   981 non-null    bool
dtypes: bool(2), int64(9), object(3)
memory usage: 94.0+ KB

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Mithical,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
976,888,Zacian Hero of Many Battles,Fairy,NaN,670,92,130,115,80,115,138,8,False,False
977,889,Zamazenta Crowned Shield,Fighting,Steel,720,92,130,145,80,145,128,8,False,False
978,889,Zamazenta Hero of Many Battles,Fighting,NaN,670,92,130,115,80,115,138,8,False,False
979,890,Eternatus,Poison,Dragon,690,140,85,95,145,95,130,8,False,False
980,890,Eternatus Eternamax,Poison,Dragon,1125,255,115,250,125,250,130,8,False,False

## Making changes to the data

In [57]:
df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

df = df.drop(columns=['Total'])



df.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Saving our Data (Exporting into Desired Format)

In [8]:
df = df[df['HP']>45]


df.to_csv('modified.csv', index=False)

## Filtering Data

In [66]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]

new_df.reset_index(drop=True, inplace=True)

new_df

new_df.to_csv('filtered.csv')

In [ ]:
df.isnull()
df.fillna(0,inplace = True) #replaces all null values with zero and makes changes permanent 
#df.fillna(df.mean(),inplace = True)

## Aggregate Statistics (Groupby)

In [12]:
df = pd.read_csv('modified.csv')

##added a new column called count 
df['count'] = 1


df.groupby(['Type 1', 'Type 2']).count()['count']

Type 1  Type 2
Bug     Electric    2
        Eletric     2
        Fairy       1
        Fighting    4
        Fire        2
                   ..
Water   Phychic     1
        Poison      2
        Psychic     5
        Rock        5
        Steel       1
Name: count, Length: 166, dtype: int64